<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout2"
    layout:decorate="~{layout2}">

<head>
    <title>AgriConnect</title>
</head>

<body>
    <div layout:fragment="content2">

        <div class="jumbotron text-center">
            <h1 class="display-4">Welcome to Farmer's Network</h1>
            <p class="lead">Connecting Farmers, Cultivating Growth – Welcome, <span sec:authentication="principal.username" />!</p>
            <hr class="my-4">
            <p>Connect with fellow farmers, explore resources, and cultivate growth together.</p>
          
        </div>
        <div class="container">
            <div class="d-flex justify-content-center">
                <div class="col-md-8" style="margin: 20px;">
                    <img th:src="@{/images/farmer.jpg}" alt="Background" class="img-fluid mb-4 rounded mx-auto d-block rounded float-start" width="8000"
                        height="5000" />
                </div>
                <div class="col-md-4 align-self-center">
                    <div class="list-group text-center">
                        <a th:href="@{/user/profile}" class="list-group-item list-group-item-action">Profile</a>
                        <a th:href="@{/user/folders}" class="list-group-item list-group-item-action">My Folders</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>

</html>